@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    text-transform: uppercase;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section.normal{
    background-color: rgb(245, 245, 245);
    color: rgb(34, 34, 34);
}

section.imagem{
    color: rgb(245, 245, 245);
    background-color: rgb(34, 34, 34);
}

footer{
    background-color: rgb(34, 34, 34);
    text-align: center;
    color: white;
    padding: 10px;
}